# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log

# Virtual environment
.venv/
venv/

# Environment variables
.env

# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Data & uploads (optional)
uploads/
data/*.xlsx
